<h1>Add a Blog Post</h1>

<%= form_with model: @post, local: true do |form| %>
  <!--<% if @post.error.any? %> need to finish validation-->
  

  <!--<label for="title">Title</label>-->
  <%= form.label :title %>
  <!--<input type="text" name="title" />-->
  <%= form.text_field :title %>
  <br />
  <!--<label for="content">Content</label>-->
  <%= form.label :content %>
  <!--<textarea name="content"></textarea>-->
  <%= form.text_area :content %>

  <br />
  <!--<input type="submit" value="Submit" />-->
  <%= form.submit :submit %>
<% end %>